* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;

}

:root{
    --bg-colo:#1d1d1d;
    --second-bg-color:#e6b848;
    --text-color:#ffff;
    --main-color:#998200;
 }

 html {
    font-size: 62.5%;
    overflow: auto;
 }

 body{
     background-color: var(--bg-colo);
     color: var(--text-color);
  
 }

 
 .header{
     position:fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;

 }

 .navbar a{

    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    text-decoration: none;
    transition: 0.5s;
 }

 .navbar a:hover{
   color: var(--second-bg-color);
   transition: 0.5s;
 }

 #menu{
     font-size: 3.6rem;
     color: var(--text-color);
     cursor: pointer;
     display: none;
 }

 #contacto, .ler-mais {
     border: solid 1px var(--second-bg-color);
     padding: 5px;
     border-radius: 9px;
     color: var(--second-bg-color);
     transition: 1s;
 }

 .navbar #contacto:hover{
   background-color: var(--second-bg-color);
   color: var(--text-color);
   box-shadow: 0.5px 0.5px 5px 1px var(--main-color);
   transition: 1s;
   
 }

  section {
     min-height: 100vh;
     padding: 10rem 9% 1rem;
     align-content: center;
    
 }


 .home p {
     font-size: 17px;
 }

 .texto-animacao{
     max-width: 60rem;
     flex-direction: row;
     display: flex;
     background-color: transparent;
    

 }

 .texto-animacao h3{
     font-size: 40px;
     font-weight: 600;
     line-height: 1.3;
     color: transparent;
     -webkit-text-stroke: .7px var(--second-bg-color);

 }

 .redes{
    position: absolute;
    bottom: 9rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    
 }

 .redes a{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
height: 40px;
width: 40px;
background: transparent;
border:  .2rem  solid var(--second-bg-color);
border-radius: 50%;
font-size: 20px;
color: var(--text-color);
z-index: 1;
overflow: hidden;


 }
 .redes a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--main-color);
    z-index: -1;
    transition: 1s;
 }

 .redes a:hover{
    color: #1d1d1d;
    transition: 1s;
    border: none;
    transition: 1s;
 }

 .redes a:hover::before{
    width: 100%;     

 }

 .sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--bg-colo);
    padding-bottom: 6rem;
    justify-content: space-between;
    
 
 }

 .heading{
    font-size: 5rem;
    font-family: Impact'Arial Narrow Bold', sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    
 }

 span{
    color: var(--second-bg-color);
 }

 
  .sobre-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .sobre-img img{
    position: relative;
    width: 85%;
    border-radius: 50%;
    border: .3rem solid var(--second-bg-color);
 }

 .sobre-mim .circulo{
    position: absolute;
    transform: translate(-50% -50%) rotate(0);
    width: 95%;
    height: 95%;
    border-radius:50%;
    border-top: .2rem solid var(--bg-colo);
    border-bottom: .2rem solid var(--bg-colo);
    border-left: .3rem solid var(--second-bg-color);
    border-right: .3rem solid var(--second-bg-color);
    animation: spin 2s linear infinite;
 
 
  }
/* Processador que roda*/
  @keyframes spin {
   100%{
      transform: rotate(360deg);

   }
  }

  .sobre-content {
   text-align: center;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
  }
 
  .sobre-content p{

   font-size: 18px;
  }

  .sobre-content h3{
   font-size: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

  .redes-ler a{
   font-size: 1.7rem;
   color: var(--bg-colo);
   background-color: var(--second-bg-color);
   font-weight: 500;
   text-decoration: none;
   transition: 0.5s;
   padding: 10px;
 

  }

  section .minha{
   text-align: center;
   justify-content: center;
   font-size: 5rem;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--text-color);
  } 

  section .minha span {
    color: var(--second-bg-color);
  }

  section .cont-pricipal{
   display: flex;
   gap:40px;
   margin: 40px;
   align-items: center;
   justify-content: center;
   
 
  
  }

  .cont-pricipal .conteudoI{
   position: relative;
   border: solid 2px var(--second-bg-color);
   border-radius: 12px;
   padding: 1.5rem;
   margin-bottom: 2rem;
   transition: 1s;
   font-size: 12px;
  
  }

    /*section .conteudoII{
    position: relative;
    border: solid 2px var(--second-bg-color);
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: 1s;
    font-size: 12px;
   
   }
   
    section  .conteudoII:hover{
    transform: scaleY(1.3);
    transition: 1s;

   }

   section  .conteudoI:hover{
    transform: scaleY(1.3);
    transition: 1s;

   }
   */

   .cont-pricipal .conteudoI:hover {
    transform: scale(1.1,1.1);
   }

   .cont-pricipal:hover > .cont-pricipal:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
   }

 section .data {
   font-size: 1.5rem;
   color: var(--main-color);
   padding-bottom: .5rem;
   justify-content: space-around;
 }


 /*Parte das habilidades*/

 

 .skills {
   min-height: auto;
  text-align: center;
 }

 .skills .cabeça {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
 }
 
 .skills .skill-row{
   display: flex;
   flex-wrap: wrap;
   gap: 5rem;
  
 }

.skill-row  .skill-column{
   flex:  1 1 40rem;

}

.skill-column .title{
   font-size: 2.5rem;
   margin:  0 0 1.5rem;
}

.skill-box .skill-content{
   position: relative;
   border: .2rem solid var(--second-bg-color);
   border-radius: .6rem;
   padding: .5rem .1rem;
}

.skill-content .progresso{
   padding: 1rem 0;
}
 
 .skill-content .progresso h2{
   font-size: 1.7rem;
   display: flex;
   justify-content: space-between;
  padding: 10px;
 }

 .skill-content .progresso h2 span{
   color: var(--text-color);
 }

 .skill-content .progresso .bar{
   height: 2.5rem;
   border-radius: .6rem;
   border: .2rem solid var(--second-bg-color);
   padding: .5rem;
   margin: 1rem ;
 }

 .skill-content .progresso .bar span{
   display: block;
   height: 100%;
   border-radius: 20px;
  background-color: var(--second-bg-color);
 }

 .skill-column:nth-child(1) .skill-content .progresso:nth-child(1) .bar span{
   width: 80%;
 }


 .skill-column:nth-child(1) .skill-content .progresso:nth-child(2) .bar span{
   width: 45%;
 }

 .skill-column:nth-child(1) .skill-content .progresso:nth-child(3) .bar span{
   width: 50%;
 }

 .skill-column:nth-child(1) .skill-content .progresso:nth-child(4) .bar span{
   width: 35%;
 }

 /*Segundo quadro*/
 .skill-column:nth-child(2) .skill-content .progresso:nth-child(1) .bar span{
   width: 50%;
 }

 .skill-column:nth-child(2) .skill-content .progresso:nth-child(2) .bar span{
   width: 75%;
 }

 .skill-column:nth-child(2) .skill-content .progresso:nth-child(3) .bar span{
   width: 50%;
 }

 .skill-column:nth-child(2) .skill-content .progresso:nth-child(4) .bar span{
   width: 35%;
 }


 /*Contato*/
 

 .contato {
   min-height: auto;
   margin: 100px;
   
 }

 .contato form .input-box{
   position: relative;
   display: flex;
   justify-content: space-between;
   flex: wrap;
  
 }

 .contato form {
   max-width: 70rem;
   margin: 0 auto;
   text-align: center;
  
 }

 .contato form .input-box .input-field  {
  position: relative;
  width: 49%;
  margin: .8rem 0;
 

 }

 .contato form .input-box .input-field input,
 .contato form .Texte-area  textarea{
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  padding: 1.5rem;
  color: var(--text-color);
  background:transparent;
  border-radius: .6rem;
  border: .2rem solid var(--second-bg-color);
 }

 .contato form .input-box .input-field input::placeholder,
 .contato form .Texte-area  textarea::placeholder{
  color: var(--text-color);
 }


.contato form .botao .btns{
  background-color: #e6b848;
  text-decoration: none;
  padding: 10px;
  width: 20%;
  margin: 10px;
  border-radius: 4px; 
  font-size: 14px;
  color: var(--bg-colo);
  outline: none;
  transition: 1s;
}
 
.contato form .botao .btns:hover {background-color: var(--second-bg-color);

   transform: scalex(1.5);
   transition: 1s;
}
 
.footer-pa {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  bottom: 0;
  width: 100%;

 
 
 
}

.footer p {
  color:var(--bg-colo);
  font-size: medium;
}

.carousel-inner img {
  max-width: 400px; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  display: block; /* Garante que o margin funcione corretamente */
  object-fit: cover; /* Ajusta a imagem para caber no contêiner */
}